@model SPOTSAdminModule.ViewModels.LogsViewModel


@{
    ViewBag.Title = "USER LOGINS";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/searchValidator.js"></script>
<script src="~/Scripts/loadingoverlay.min.js"></script>
@Scripts.Render("~/bundles/datatable")

<script>
    $().ready(function () {
        $("#tabs").tabs();
        $(".datepicker-my").datepicker($.datepicker.regional["en-GB"]).datepicker("option", {
            dateFormat: 'dd/mm/yy'
        });
        $('.btn').click(function () {
            $(".datepicker-my", $(this).closest(".input-group")).focus();
        });
    })
    function OnSuccess() {
        $.LoadingOverlay("hide");
    }
    function OnFailure() {
        $.LoadingOverlay("hide");
    }
</script>


<div id="tabs">
    <ul>
        <li>
            <a href="#tabs-1">Search By</a>
        </li>
    </ul>
    <div id="tabs-1">

        @using (Ajax.BeginForm("GetUserLoginsLogs", "Logs",
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "userLoginSearchResultList",
                        OnBegin = "validateUserLoginsSearch",
                        OnComplete = "showPagination",
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure"
                    }))
        {
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Date From</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchModel.SearchFromDate, new { @class = "datepicker-my form-control", @placeholder = "Enter from Date" })
                        <span class="input-group-addon btn" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <label class="control-label ">Date To</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchModel.SearchToDate, new { @class = "datepicker-my form-control", @placeholder = "Enter from Date" })
                        <span class="input-group-addon btn" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="control-label ">Application Type</label>
                    <div class="input">
                        @Html.DropDownListFor(m => m.SearchModel.SearchApplicationType, Model.ApplicationTypeSelectList,
                           new
                           {
                               @class = "form-control",
                               @placeholder = "Select one"
                           })
                    </div>
                    <label class="control-label ">User ID</label>
                    <div class="input">
                        @Html.TextBoxFor(m => m.SearchModel.SearchUserId, new { @class = "form-control", @placeholder = "Enter User ID" })
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="control-label ">Username</label>
                    <div class="input">
                        @Html.TextBoxFor(m => m.SearchModel.SearchUserName, new { @class = "form-control", @placeholder = "Enter Username" })
                    </div>
                    <label class="control-label ">Device ID</label>
                    <div class="input">
                        @Html.TextBoxFor(m => m.SearchModel.SearchDeviceId, new { @class = "form-control", @placeholder = "Enter Device ID" })
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="input">
                        <input class="form-control" type="submit" value="Search" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <p id="validationResult" style="color:red;font-size:13px" />
    </div>
</div>

<div class="row" id="userLoginSearchResultList">
    @Html.Partial("Tables/_TableUserLoginsView")
</div>