@model SPOTSAdminModule.ViewModels.ListAccidentReportViewModel

@{
    ViewBag.Title = "OSI STATISTICS (USER)";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/searchValidator.js"></script>
<script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
<script src="~/Scripts/loadingoverlay.min.js"></script>
@Scripts.Render("~/bundles/datatable")

<script>
    $(document).ready(function () {
        $("#tabs").tabs();
        $(".datepicker-my").datepicker($.datepicker.regional["en-GB"]).datepicker("option", {
            dateFormat: 'dd/mm/yy'
        });
        $('.btn').click(function () {
            $(".datepicker-my", $(this).closest(".input-group")).focus();
        });
        $(".timepicker-my").timepicker();
        $('.btn').click(function () {
            $(".timepicker-my", $(this).closest(".input-group")).focus();
        });
    })
    function OnSuccess() {
        $.LoadingOverlay("hide");
    }
    function OnFailure() {
        $.LoadingOverlay("hide");
    }
</script>

<div id="tabs">
    <ul>
        <li>
            <a href="#tabs-1">Search By</a>
        </li>
    </ul>
    <div id="tabs-1">

        @using (Ajax.BeginForm("AccidentReportStatistics", "Report",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "searchAccidentReportStatistics",
                    OnBegin = "validateOSIStatisticsUserSearch",
                    OnSuccess = "OnSuccess",
                    OnFailure = "OnFailure"
                }))
        {
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label ">Date From</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchModel.SearchFromDate, new { @class = "datepicker-my form-control", @placeholder = "Enter from Date" })
                        <span class="input-group-addon btn" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <label class="control-label ">Date To</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchModel.SearchToDate, new { @class = "datepicker-my form-control", @placeholder = "Enter to Date" })
                        <span class="input-group-addon btn" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label ">Time From</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchModel.SearchFromTime, new { @class = "timepicker-my form-control", @placeholder = "Enter from Time" })
                        <span class="input-group-addon btn" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <label class="control-label ">Time To</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchModel.SearchToTime, new { @class = "timepicker-my form-control", @placeholder = "Enter to Time" })
                        <span class="input-group-addon btn" style="cursor:pointer;">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label ">Officer ID</label>
                    <div class="input">
                        @Html.TextBoxFor(m => m.SearchModel.SearchOfficerId, new { @class = "form-control", @placeholder = "Enter Officer ID" })
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="input">
                        <input class="form-control" type="submit" value="Search" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p id="validationResult" style="color:red;font-size:13px">
        </p>
    </div>
</div>

<div id="searchAccidentReportStatistics">
    @Html.Partial("Tables/_TableAccidentReportStatisticsView")
</div>

